{%- set preferences = firefox_profile_preferences.get(item.profile_name, {}) | combine(firefox_preferences | default({})) %}
{% for pref, value in preferences.items() %}
user_pref("{{ pref }}", {{ value }});
{% endfor %}
